{include tr_view_path('/layout/header')}

{* {include tr_part('todo-remove-examples')} *}


<div class="front-page-content">
	{the_content()}
</div>

{dynamic_sidebar('varukorg')}
{include tr_view_path('/layout/footer')}